<article>
    <title><%=data.number%>ая встреча. Ждем Вас!</title>
    <p>
       Традиционно приглашаем Вас на <a href="https://vk.com/bs_vstrecha_<%=data.number%>" target="_blank">встречу клуба</a> мафии Baker Street 221b!
    </p>
    <p>
       Что? - <%=data.what%>
    </p>
    <p>
      Где? -
      <a href="https://goo.gl/oFev5u">
       <%=data.where%>
      </a>
    </p>
    <p id="when<%=i%>">
       Когда? -
    </p>
    <p>
       Члеский взнос? - <%=data.price%> за вечер игр
    </p>
    <p>
      С уважением, команда организаторов.
    </p>
</article>