<div class="photo">
	<a
    href="<%=photo.href%>"
    title="<%=photo.title%>"
    target="_blank"
    >
	    <img class="photo-logo"
        onerror="this.src='../img/main_logo_black2.png'"
        src="<%=photo.src%>"
        alt="<%=photo.title%>"
        >
	</a>
	<p class="photo-title"><%=photo.title%></p>
	<p class="photo-date"><%=photo.date%></p>
</div>