<%if (player.vk) {%>
<a href="<%=player.vk%>" target="_blank">
<%}%>
    <img class="player-logo" src="../data-base/players/img/<%=player.nick.replace(/\s+/g, '')%>.jpg" alt="<%=player.nick%>">
</a>
<p class="player-nick"><%=player.nick%></p>
<%if(player.avr) {%>
    <p class="player-results"><%=player.avr + ' средний бал '%><%='(' + player.gameNumber + ' игр)'%></p>
<%}%>
<p class="player-faculty"><%=player.faculty%></p>
<p class="player-exp"><%=player.experiance%></p>
<div class="honours">
<%for(var i = 0; i < player.honours.length; i++) {%>
    <div title="<%=player.honours[i].title%>" class="<%=player.honours[i].type%>-<%=player.honours[i].place%> honour"></div>
<%}%>
</div>
